<h1>Ask anything to the mean magic ball! </h1>
<form action="/answer" class="form-inline">
  <div class="btn_imput">
    <input type="text" name="question" class="form-control">
    <span class="input-group-btn">
      <input type="submit" value="Ask" class="btn btn-primary">
  </div>
</form>
